<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WE ❤️ LOAN SHARKING</title>
</head>

<body>
    <nav>
        <a href="{{ url_for('root') }}">HOME</a> 
        <a href="{{ url_for('add_enforcer') }}">ADD ENFORCER</a> 
        <a href="{{ url_for('add_client') }}">ADD CLIENT</a> 

        <a href="{{ url_for('test') }}">TEST</a> 
        
    </nav>


       {% block content %}
       {% endblock %}
</body>

</html>