
{% extends "base.j2" %}
{% block content %}

    <h1>Current Clients</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Client ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>In Good Standing</th>
        </tr>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client['clientID'] }}</td>
                <td>{{ client['firstName'] }}</td>
                <td>{{ client['lastName'] }}</td>
                <td>{{ client['inGoodStanding'] }}</td>
            </tr>
        {% endfor %}
    </table>


    <h1>Delete Client</h1>
    <form action="{{ url_for('delete_client') }}" method="POST">
        <input type="text" name="firstName" placeholder="First Name" required=True />
        <input type="text" name="lastName" placeholder="Last Name" />
        <button type="submit">Delete</button>
    </form>


{% endblock %}